{% extends 'base.html' %}

{% block title %}
    MeheDe | Dairy
{% endblock %}

{% block link_dairy %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Dairy</a>
    </li>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <center><h5>Dairy</h5></center>
    <table class="table table-striped table-secondary table-borderless table-hover w-auto" style="font-size: .8rem;">
        <thead style="text-align:center;">
            <tr>
                <th scope="col" style="width:5rem">Date</th>
                <th scope="col">Dairy Summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1-3-2022</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eaque est ex explicabo fugit illum ipsa modi molestiae neque perferendis quo, rem voluptatem! Animi, consectetur doloribus maxime natus quidem tempora.</td>
            </tr>
            <tr>
                <td scope="row">1-3-2022</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eaque est ex explicabo fugit illum ipsa modi molestiae neque perferendis quo, rem voluptatem! Animi, consectetur doloribus maxime natus quidem tempora.</td>
            </tr>
            <tr>
                <td scope="row">1-3-2022</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eaque est ex explicabo fugit illum ipsa modi molestiae neque perferendis quo, rem voluptatem! Animi, consectetur doloribus maxime natus quidem tempora.</td>
            </tr>
            <tr>
                <td scope="row">1-3-2022</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eaque est ex explicabo fugit illum ipsa modi molestiae neque perferendis quo, rem voluptatem! Animi, consectetur doloribus maxime natus quidem tempora.</td>
            </tr>
            <tr>
                <td scope="row">1-3-2022</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eaque est ex explicabo fugit illum ipsa modi molestiae neque perferendis quo, rem voluptatem! Animi, consectetur doloribus maxime natus quidem tempora.</td>
            </tr><tr>
                <td scope="row">1-3-2022</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eaque est ex explicabo fugit illum ipsa modi molestiae neque perferendis quo, rem voluptatem! Animi, consectetur doloribus maxime natus quidem tempora.</td>
            </tr>
            <tr>
                <td scope="row">1-3-2022</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eaque est ex explicabo fugit illum ipsa modi molestiae neque perferendis quo, rem voluptatem! Animi, consectetur doloribus maxime natus quidem tempora.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
