{% extends 'base.html' %}

{% block title %}
    MeheDe | Quiz
{% endblock %}

{% block link_quiz %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Quiz</a>
    </li>
{% endblock %}

{% block content %}
    <center>
        <h1>Quiz</h1>
        <div class="card mx-auto bg-light mt-5 pt-3" style="width: 16rem;">
            {% for i in range(length): %}
                {{ question_data[i].question }}
                <hr>
                {% for option in question_data[i].options %}
                    <p>{{ option }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        <button></button>
    </center>
{% endblock %}